@charset "utf-8";

// Font family
$family-sans-serif: proximaNova;
@font-face {
    font-family: proximaNova;
    src: url(../assets/fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf);
}

// Colors
$primary: #ff9900;
$light-border: #bcd0e5;

// Main
.main {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
}

h2.title {
    font-weight: 500;
}

@media screen and (min-width: 769px) {
    .main {
        padding-left: 145px;
        padding-right: 145px;
    }
}

.button {
    min-height: 53px;
}

// Navigation
.navbar {
    height: 78px;
    margin-top: 20px;

    .navbar-brand {
        .navbar-item {
            padding: 0;
        }
    }

    .navbar-end {
        display: flex;
        justify-content: flex-end;
    }

    .buttons .light {
        border: 1px solid $light-border;
        border-radius: 4px;
        font-size: 16px;
        color: #173a56;
        letter-spacing: 0;
    }
    
}

//Navigation desktop
@media screen and (min-width: 769px) {
    .navbar {
        .navbar-menu {
            flex-grow: 0;
            margin-left: auto;
        }    
    }
}

// Header
.button.is-negative {
    background-color: white;
    color: $primary;
}

section.banner {
    padding-top: 30px;
    .banner-content {
        max-width: 518px;

        .title {
            font-weight: 500;
            font-size: 44px;
            color: #2F281E;
            letter-spacing: 0;
            line-height: 54px;
        }

        .description {
            font-size: 18px;
            color: #544837;
            letter-spacing: 0;
            line-height: 28px;
        }
    }

    .banner-content-actions {
        padding-top: 45px;
        font-size: 16px;
        letter-spacing: 0;
        border-radius: 4px;

        button {
            width: 150px;
        }

        .button.is-negative {
            border: none;
        }
    }
}

// Header desktop
@media screen and (min-width: 769px) {
    section.banner {
        display: flex;
        align-items: center;
        height: 496px;
    }
}

// Feature section
section.feature {
    padding-top: 50px;

    .icon {
        margin-bottom: 30px;
    }

    h2.title {
        max-width: 539px;
        margin: auto;
        text-align: center;
        font-family: Helvetica;
        font-size: 36px;
        color: #2F281E;
        letter-spacing: 0;
    }

    h3.title {
        font-weight: 450;
        margin-bottom: 15px;
        font-family: Helvetica;
        font-size: 22px;
        color: #2F281E;
        letter-spacing: 0;
    }

    .card {
        padding-top: 60px;
        padding-bottom: 34px;
    }

    .cta {
        display: flex;
        justify-content: center;
    }
}

// Feature desktop
@media screen and (min-width: 769px) {
    section.feature {
        padding-top: 110px;
    }
}

// Marketing strategies
section.marketing-strategies {
    padding-top: 30px;

    a:hover,
    .current h3.title a {
        color: $primary;
    }

    .author-content {
        color: #544837;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 28px;
    }

    h3.title {
        margin-bottom: 15px;
        font-size: 24px;
        letter-spacing: 0;
        line-height: 34px;
        font-weight: 400;

        a {
            color: #2f281e;
        }
    }

    .dots {
        text-align: center;
    }
    .dot {
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 2px;
        background-color: #efefef;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: $primary;
    }
}

// Marketing strategies desktop
@media screen and (min-width: 769px) {
    section.marketing-strategies {
        .slide {
            display: flex;

            .slide-item {
                max-width: 348px;
            }
        }
    }
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
